#root {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 150px;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: block;
  background: black;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

ul {
  list-style: none;
  flex-basis: 700px;
  flex-grow: 1;
  flex-shrink: 0;
}

.mouse {
  display: flex;
  padding: 15px 5px;
  border: 2px solid silver;
  flex-basis: 700px;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.mouse img {
  width: 150px;
  height: auto;
}

.mouse-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.product-title {
  font-size: 24px;
}

.product-price {
  font-weight: 600;
  display: inline-block;
  font-size: 24px;
  margin-right: 5px;
}

.product-button {
  display: inline;
}

.text {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text-title {
  text-transform: uppercase;
  font-family: serif;
  font-size: 70px;
}

.text-text {
  font-size: 24px;
  font-style: unset;
}

.text-button {
  align-self: flex-start;
  font-size: 20px;
  width: 200px;
  padding: 7px 0;
}